{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2>Liste de vos photos</h2>
		<div class="row flex">
			{% for photo in photos %}
				<div class="col-8">
					<table class="table table-striped">
						<tr>
							<th>Titre</th>
							<th>Date</th>
							<th>nb commentaires</th>
							<th></th>
						</tr>
						<tr id="{{'tr'~ photo.id }}">
							<td>{{ photo.title }}</td>
							<td>{{ photo.postAt }}</td>
							<td>
								{{ photo.Comments|length }}</td>
							<td>
								<a href="{{ path("photo.delete", {id: photo.id}) }}" data-delete class="btn btn-secondary">
									Supprimer</a>
							</td>
						</tr>
					</table>
				</div>
			{% endfor %}
			<div class="col-4">
				<a href="{{path ("photo.new")}}" class="btn btn-primary">Ajouter une photo</a>
			</div>
		</div>
	</div>
	<script>
		links = document.querySelectorAll('[data-delete]');

for (let link of links) {
link.addEventListener('click', function (event) {
event.preventDefault();

	if (confirm('Voulez-vous supprimer cette photo')) {
			fetch(this.getAttribute('href'), {
			method: 'GET',
			headers: {
			"X-Requested-Width": "XMLHttpRequest" "Content-Type": "application/json"
																						}
		}).then(function (response) {
				return response.json();
				}).then(function (data) {
					console.log(data);
				let idPhoto = 'tr' + data.id;
				let tr = document.querySelector('#' + idPhoto)
				tr.remove();
				alert(data.success);
		})
		}
	});
}
	</script>
{% endblock %}
